app-side-menu {
    width: 250px;
    height: 100vh;
    background-color: #fff;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
}

app-feed {
    flex-grow: 1;
    max-width: 70%;
}

app-right-panel {
    width: 450px;
}