<h5>
    Latest Post Activity
</h5>
<div class="postContainer">
    <div class="post">
        <img src="http://placehold.it/150X100">
        <div class="postDetails">
            <h5>
                Post Title
            </h5>
            <div class="postInteractions">
                <div class="likes ">
                    <i class="fas fa-heart"></i> 0
                </div>
                <div class="comments">
                    <i class="fas fa-comment-dots"></i> 0
                </div>
                <div class="saved">
                    <i class="fas fa-bookmark"></i> 0
                </div>
            </div>
        </div>
    </div> <a href="">See All Posts</a>
</div>